<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form method="post" action="/create-product/">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Название продукта"><br>
        <input type="number" name="price" placeholder="Цена"><br>
        <textarea name="description" placeholder="Описание продукта"></textarea>
        <br>
        <button type="submit">Отправить форму</button>
    </form>
</body>
</html>